.pagination {
    margin-bottom: 20px;
    margin-right: 30px;
    margin-top: 90%;
    margin-left: 90%;
}

.col-md-3 {
    align-items: center;
}

.mob-table {
    padding: 10px 15px;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 3px;
}

.headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 30px;
    background-color: #435d7d;
    color: white;
}

.open-button {
    background-color: #5cb85c;
    color: white;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    position: fixed, absolute;
    margin-top: 5px;
    right: 28px;
    width: 280px;
    margin-left: 600px;
}

.btn-primary {
    background-color: #337ab7;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.usersform {
    background-color: white;
    width: 600px;
    padding: 20px 50px;
    border-radius: 5px;
}

.form-control {
    width: 90%;
}

.group {
    display: flex;
    margin: 15px 0;
}

.group label {
    width: 70px;
    line-height: 40px;
    height: 40px;
}

.action {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 20px;
}

.dropzone {
    height: 150px;
    min-width: 100px;
    display: table;
    background-color: #eee;
    width: 300px;
    border: dashed 1px #aaa;
    border-radius: 10px;
    margin-right: auto;
}