.body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0px;
    max-width: 100%;
    background-color: white;
}

.title {
    margin-top: 15px;
    background-color: white;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.title h1 {
    color: rgb(79, 27, 210);
}

.info {
    margin-top: 5px;
    background-color: rgb(229, 240, 175);
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
    padding: 5px;
}

.card {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 2px;
    padding: 5px;
}