<app-header></app-header>
<div class="body">
    <div class="title" style="">
        <h1>Welcome to Cognizant</h1>
        <p>Cognizant helps companies modernize technology, reimagine processes and transform experiences so they stay ahead in a fast-changing world.</p>
    </div>

    <div class="card">
        <ngb-carousel #carousel [interval]="500">
            <ng-template ngbSlide *ngFor="let img of slides; index as i">
                <a href="https://www.google.fr/?q=Number+{{i+1}}" target="_blank" rel="nofollow noopener noreferrer">
                    <div class="picsum-img-wrapper">
                        <img [src]="img.img" alt="" width="100%" height="650px" />
                    </div>
                </a>
            </ng-template>
        </ngb-carousel>
    </div>
</div>

<div class="footer" style="margin-top: 2px; margin-bottom: 0px;">
    <app-footer></app-footer>
</div>